<footer class="flex bg-[#131313] justify-center items-center gap-20 p-4 text-[#FFFFFF]">
    <h2 class="font-gratelos text-8xl"><a routerLink="/">URBAN</a></h2>
    <div>
        <p class="font-roboto text-[#F1F1F1] mb-3">Servicios</p>
        <ul class="flex flex-col font-roboto text-base">
            <li class="hover:underline hover:decoration-2 hover:decoration-[#FFFFFF] cursor-pointer"><a routerLink="/">Inicio</a></li>
            <li class="hover:underline hover:decoration-2 hover:decoration-[#FFFFFF] cursor-pointer"><a routerLink="/categories">Categorías</a></li>
            <li class="hover:underline hover:decoration-2 hover:decoration-[#FFFFFF] cursor-pointer"><a routerLink="/products">Productos</a></li>
        </ul>
    </div>
</footer>
